@import 'extra';

*,*:hover { outline: 0 !important;}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none !important; }

.modal-open { overflow: inherit; overflow-y:scroll; }
.modal { overflow: hidden; }
.modal-dialog { width: 337px; }
.caret { margin-left: 5px; }
.invis { position:absolute; z-index:-1; visibility:hidden; }
.btn-primary { background-color:$azul3; &:hover { background-color: $azul4;} }
.spinnergif { width:25px; height:25px; }

a { 
	cursor: pointer;
	color:$azul1;
	&,&:hover { text-decoration:none; }
	&:hover { color:$azul2; }
}

body {
	overflow-y:scroll;
	overflow-x:hidden;
	background-attachment:fixed;
	padding-top: 50px;
	padding-bottom: 80px;
	font-family: "Open Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
	background-image:url('../img/patterns/white_leather.png');
}

.footer {
	position: fixed;
	bottom: 0; left: 0; right: 0;
	z-index: 100;
	padding: 7px 0;
	background-color: #222;
	color: white;
	word-spacing: 2pt;
	p {
		margin:0px;
		line-height: 28px;
	}
	img {
		width:30px;
		height:30px;
		margin-left:10px;
	}
}

.header {
	.navbar-nav>li>a.blue {
		color:$azul3;
		&:hover { color:$azul4; }
	}

	.loginform { 
		padding-right:0px; 
		button { margin-left:10px; min-width:80px; }
	}
	.loggedform { padding-right:15px; }
	.ruta {
		nav {
			margin:0px;
			margin-top: 15px;
			padding:5px 30px;
			background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
			border: 1px solid #ccc;
			@include border-radius(4px);
			@include box-shadow(0,1,4,0,0,0,0.065);
			li {
				a { padding:10px 20px; }
				&.active a {
					color: #555555;
					text-decoration: none;
					background-color: #e5e5e5;
					@include box-shadow(0,3,8,0,0,0,0.125);
				}
			}
			.divider-vertical {
				height: 40px;
				margin: 0 9px;
				border-right: 1px solid #ffffff;
				border-left: 1px solid #e2e2e2;
			}

		}
		form {		
			margin-top:3px;
			margin-bottom:0px;
			padding-right:0px;
			.input-group {
				max-width:200px;
				span { cursor:pointer; }
			}
		}
		&.mini form {
			border:0px;
			padding-right:15px;
			.input-group {
				max-width:100%;
				span { cursor:pointer; }
			}
		}
	}
}
.login {
	.panel { margin:0px; }
	.close {
		position: relative;
		top: -5px;
		right: -5px;
	}
	.panel-body {
		padding-top: 15px;
		.bottom { margin-bottom: 15px; }
		.top { margin-top:15px; }
		.foot {
			border-top: 1px solid #888;
			padding-top:15px;
			font-size:85%;
			a { margin:0px 5px; }
		}
		.head {
			border-bottom: 1px solid #888;
			text-align:justify;
			font-size:85%;
			padding-bottom:15px;
		}
	}
	.btn { min-width:85px; }
	.alert { padding: 5px 15px; }
}

.well {
	padding:10px 30px;
	margin-top:15px;
	margin-bottom:0px;
	@include background-gradient(#ffffff,#f2f2f2);
	@include border-radius(4px);
	border:1px solid #ccc;
	h1 {
		font-size:36px;
		margin:0px;
	}
	h4 {
		font-size:20px;
		margin-top:10px;
	}
}

.home {

	.panel {
		margin-top:15px;
		margin-bottom:0;
		border-color: #ccc;
		.panel-heading {
			@include background-gradient(#ffffff,#f2f2f2);
			border-color: #ccc;
			padding-left:30px;
			cursor:pointer;	
			h3.panel-title { font-size:24px; }
			span { cursor:pointer; }
			&:hover { background-color:#eee !important; background-image:none; }
		}
		.panel-body { 
			padding-bottom:0px;
			padding-top:0px; 
		}
		.panelwrap {
			padding-top:15px;
			&>p { padding:20px 15px;}
		}
	}
	.thumbnail {
		position: relative;
		padding: 0px;
		margin-bottom: 15px;
		& > h4 {
			padding: 7px 5px 0px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			&.info {
				position: absolute;
				top: 0px;
				right: 0px;
				font-size: 0.6em;
				padding-left: 15px;
				border-radius: 0px;
				border-top-right-radius: 3px;
				border-bottom-left-radius: 4px;
				border-bottom-left-radius: 5px;
				cursor:  pointer;
				&>span {margin-right: 10px;}
			}
		}
		a.btn { 
			padding:5px 5px 10px 5px;
			font-size:13px;
			img {
				cursor:pointer;
				padding-bottom:10px;
			}
		}
	}
}

.search {

	margin-top:15px;

	table {

		border:1px solid #ccc;

		@include background-gradient(#ffffff,#f2f2f2);
		@include border-radius(4px);
		tr {
			cursor:pointer;
			img { min-height: 40px; }
			td,th { border-color:#ccc; }
			td { 
				vertical-align:middle;
				&:first-child { text-align:center; }
				&:not(:last-child) { border-right-color:#efefef; }
				&:not(:first-child) { border-left-color:#efefef; }
			}
			th { 
				height:44px;
				line-height:44px;
				border-bottom-width:1px;
			}
			&:last-child {
				td:first-child { border-bottom-left-radius:4px;}
				td:last-child { border-bottom-right-radius:4px;}
			}
			&.disabled {
				td,th {
					color: #999;
					cursor: not-allowed;
				}
			}
		}
		tfoot th {
			text-align:center;
			cursor:default;
		}

	}
	.pagination {
		margin:0px;
		padding:0px;
		height:34px;
		.pagedisplay { line-height: 34px; }
		li a {  border:1px solid #ccc; }
	}



}

.serie {

	.well {
		margin-bottom:15px;
		border-color:#ccc;
		text-align: justify;
		padding:0px;
		padding-right:40px;
		@include background-gradient(#ffffff,#f2f2f2);
		h3 { 
			margin-top:15px; 
			img {
				width: 20px;
				vertical-align: inherit;
			}
		}
		img {
			max-height:230px;
			@include border-radius(4px);
			border-top-right-radius:0px;
			border-bottom-right-radius:0px;
		}
		.description {
			max-height: 164px;
			overflow:hidden;
			text-overflow: ellipsis;
		}
		@media (max-width: 992px) {
			.description {
				margin-right:0px;
			}
		}
	}
	.navbar {
		margin-bottom:15px;
		border-color:#ccc;
		min-height:40px;
		@include background-gradient(#ffffff,#f2f2f2);
		@include border-radius(4px);
		.navbar-header {
			float: left;
			.navbar-brand {
				height:40px;
				padding:10px 20px;
				line-height:18px;
			}
		}
		.navbar-nav {
			float: left;
			margin: 0;
			li { 
				float:left;
				&.loaded a { color:$azul1; }
				&:hover a { background-color:#f2f2f2; }
				a {
					padding-top: 10px;
					padding-bottom: 10px;
				}
			}
		}
	}
	.episodes  {
		.list-group-item {
			cursor:pointer;
			color:$azul3;
			border-color:#ccc;
			&:hover { 
				background-color:#efefef;
				color:$azul1;
			}
			&.active {
				background-color:$azul3;
				color:white;
			}
			span { color:#999; }
			&.active span { color:#eee; }
		}
	}
	.links {
		.nav-tabs {
			border: 0px solid transparent;
			border-bottom-width: 1px;
			border-bottom-color:#ccc;
			li:not(.active) a {background-color: rgba(246,246,246,0.5);}
			li.active a { border:1px solid #ccc; border-bottom-color:transparent; }
		}
		
		.line {
			padding:20px 20px 10px 20px;
			background-color:white;
			border:1px solid #ccc;
			border-bottom:0px;
			border-top:0px;
			border-top-right-radius:4px;
			margin:0px;
			[class^='col'] { padding: 0 5px; }
			.active { border-color: $azul1; }
		}

		.list-group {
			background-color:white;
			border:1px solid #ccc;
			border-top-width:0px;
			@include border-radius(4px);
			border-top-left-radius: 0px;
			border-top-right-radius: 0px;
			.list-group-item {
				border-radius:0px;
				padding-left:20px;
				cursor:pointer;
				color:$azul3;
				&:not(:last-child) {
					border-left: 0px;
					border-right: 0px;
					border-bottom:1px solid #ddd;
				}
				&:hover {
					background-color:#efefef;
					color:$azul1;
				}
				&:last-child {
					border-left:0px;
					border-right:0px;
					border-bottom:1px solid transparent;
					border-bottom-right-radius:4px;
					border-bottom-left-radius:4px;
				}
			}
		}
		i {
			background-size:100% 100%;
			border: 0px solid black;
			@include border-radius(2px);
			margin-right: 10px;
			padding:0 10px;
			line-height: 9px;
			vertical-align: middle;
		}
		.icon-castellano { background-image:url('../img/icon-castellano.png'); }
		.icon-sinaudio { background-image: url('../img/icon-sinaudio.png'); }
		.icon-catala { background-image:url('../img/icon-catala.jpg'); }
		.icon-english { background-image: url('../img/icon-english.png'); }
		.icon-vo { background-image: url('../img/icon-vo.png'); }
		.icon-vose { background-image: url('../img/icon-vose.png'); }
		.icon-latino { background-image: url('../img/icon-latino.png'); }
		.icon-alta { background-image: url('../img/icon-alta2.png'); padding:0 8px; }
		.icon-media { background-image: url('../img/icon-media2.png'); padding:0 8px; }
		.icon-baja { background-image: url('../img/icon-baja2.png'); padding:0 8px; }
	}

}
.animate.ng-enter,.animate.ng-leave { @include transition(.15s,linear,all); position: relative; overflow:hidden; }
.animate.ng-leave.ng-leave-active,.animate.ng-enter { left:100%; line-height:0%; padding:0px; }
.animate.ng-enter.ng-enter-active,.animate.ng-leave { left:0%; line-height:100%; padding:10px 15px; }

/*
.slide.ng-enter, .slide.ng-leave {
	//@include transition(all,ease-in-out,1s);
	&.ng-enter-active,&.ng-leave-active { position:absolute; }
}*/
/*
.slide.from-right.ng-enter { left: 110%; }
.slide.from-right.ng-enter.ng-enter-active { left: 3.7154150197628457%; }
.slide.from-right.ng-leave { right: 3.7154150197628457%; }
.slide.from-right.ng-leave.ng-leave-active { right:110%; }

.slide.from-left.ng-enter {	right: 110%; }
.slide.from-left.ng-enter.ng-enter-active {	right: 3.7154150197628457%; }
.slide.from-left.ng-leave {	left: 3.7154150197628457%; }
.slide.from-left.ng-leave.ng-leave-active {	left:110%; }
*/
