<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title ng-bind-template="{{apptitle}}&nbsp;&nbsp;|&nbsp;&nbsp;{{title}}"></title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="description" content="Todas tus series y peliculas favoritas online, sin esperas ni publicidad">
		<meta name="keywords" content="Series,Online,Peliculas,Documentales,Streaming,Download,Media,Movies,Shows">
		<meta name="author" content="FML-weisK">

		<!--
		<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
		-->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
		<link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"></link>

		<link href="assets/tablesorter/theme.bootstrap.css" rel="stylesheet" media="screen"></link>
		<link href="assets/tablesorter/jquery.tablesorter.pager.css" rel="stylesheet" media="screen"></link>
		<link href="css/css.css" rel="stylesheet"></link>
	</head>

	<body>

		<ng-include src="'views/Header.html'"></ng-include>

		<ng-view class="slide {{slideClass}}"></ng-view>

		<ng-include src="'views/Footer.html'"></ng-include>

		<script src="assets/jquery.min.js"></script>
		<script src="assets/tablesorter/jquery.tablesorter.js"></script>
		<script src="assets/tablesorter/jquery.tablesorter.pager.js"></script>
		<script src="assets/tablesorter/jquery.tablesorter.widgets.js"></script>
		<script src="assets/bootstrap/js/bootstrap.js"></script>
		<script src="assets/spin.min.js"></script>	
		<script src="assets/angular/angular.min.js"></script>
		<script src="assets/angular/angular-route.min.js"></script>
		<script src="assets/angular/angular-resource.min.js"></script>
		<script src="assets/angular/angular-animate.min.js"></script>
		<script src="assets/angular/angular-webstorage.js"></script>
		<script src="assets/ui-bootstrap-custom-0.10.0.min.js"></script>
		<!--
		<script src="assets/ga.js"></script>
		-->
		<script src="assets/require.min.js" data-main="app/main"></script>
		
	</body>
</html>