<footer class="footer">
	<div class="container">
		<p class="pull-right">
			<a ng-href="http://angularjs.org" title="Angular.js"><img src="img/logos/angularjs.png"></img></a>
			<a ng-href="http://getbootstrap.com/" title="Bootstrap"><img src="img/logos/bootstrap.png"></img></a>
			<a ng-href="http://www.w3.org/TR/html5/" title="Html5"><img src="img/logos/html5.png"></img></a>
			<a ng-href="http://series.ly/" title="Series.ly"><img src="img/logos/seriesly.png"></img></a>
		</p>
		<p><a>weisK  & Juju ©2014</a></p>
	</div>
</footer>