<div ng-controller="HeaderCtrl" class="header">

	<header id="top" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">{{apptitle}}</a>
			</div>

			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Series</a></li>
					<li><a href="#about">Películas</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Más <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Documentales</a></li>
							<li><a href="#">Programas TV</a></li>
							<li class="divider"></li>
							<li class="dropdown-header">Soporte</li>
							<li><a href="#">Separated link</a></li>
						</ul>
					</li>
					<li><a href="mailto:franml87@gmail.com" target="_blank">Buzón de sugerencias</a></li>
				</ul>
				<form class="navbar-form navbar-right loginform" role="form" ng-show="!user.logged">
					<button class="btn btn-primary" ng-click="openLoginModal()">Login</button>
					<button class="btn btn-default" ng-click="openRegisterModal()">Registro</button>
				</form>
				<ul class="nav navbar-nav navbar-right loggedform" ng-show="user.logged">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.name}}<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class="dropdown-header">Acciones</li>
							<li><a href="#">Mi cuenta</a></li>
							<li class="divider"></li>
							<li><a ng-click="logout()">Salir</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</header>

	<div class="container ruta hidden-xs" >
		<nav class="navbar navbar-default" role="navigation">			
			<ul class="nav navbar-nav" >
				<div class="nav navbar-nav" ng-repeat="crumb in breadcrumb | filter:notEmpty">
					<li class="{{crumb.active}}"><a ng-href="#{{crumb.url}}">{{crumb.title}}</a></li>
					<li class="divider-vertical"></li>
				</div>
			</ul>

			<form class="navbar-form navbar-right" role="search" ng-submit="search()">
				<div class="input-group">
					<input type="text" name="query" class="form-control " placeholder="Buscador" ng-model="query">
					<span class="input-group-addon" ng-click="search()"><i class="glyphicon glyphicon-search"></i></span>
				</div>
				<button type="submit" class="invis">Submit</button>
			</form>
		</nav>
	</div>

	<div class="container ruta mini visible-xs" >
		<nav class="navbar navbar-default" role="navigation">			
			<form class="navbar-form navbar-right" role="search" ng-submit="search()">
				<div class="input-group">
					<input type="text" name="query" class="form-control " placeholder="Buscador" ng-model="query">
					<span class="input-group-addon" ng-click="search()"><i class="glyphicon glyphicon-search"></i></span>
				</div>
				<button type="submit" class="invis">Submit</button>
			</form>
		</nav>
	</div>


</div>
</div>