<div class="home">

	<div class="container">
		<div class="well">
			<h1>Bienvenido a {{apptitle}}!</h1>
			<h4>El sitio para ver tus series y películas favoritas sin esperas</h4>
		</div>		
	</div>

	<div class="container" ng-if="user.logged">

		<div class="row centered-form">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading" ng-click="toggle('user')">
						<h3 class="panel-title">Tus series favoritas<span class="pull-right glyphicon" ng-class="'glyphicon-resize-'+getClass('user')" ng-show="!loadingUser"></span><img class="pull-right spinnergif" src="img/spinner2.gif" ng-show="loadingUser"></img></h3>
					</div>
					<div class="panel-body" collapse="panels.user"><div class="panelwrap">
						<p ng-show="!loadingUser && userFavs.length == 0">Nada aquí aún!</p>
						<div class="col-xs-6 col-sm-3 col-md-2" ng-repeat="serie in userFavs">
							<div class="thumbnail">
								<h4 ng-if="false">Post Thumbnail List<span class="label label-info info" ng-if="false"><span data-toggle="tooltip" title="viewed">257 <b class="glyphicon glyphicon-eye-open"></b></span><span data-toggle="tooltip" title="viewed">3 <b class="glyphicon glyphicon-star"></b></span><span data-toggle="tooltip" title="Bootstrap version">3.0.3</span></span></h4>
								
								<a ng-href="#/serie/{{serie.ids}}" class="btn btn-primary col-xs-12" role="button"><img ng-src="{{serie.img}}" alt="...">{{serie.title}}</a>
								<div class="clearfix"></div>
							</div>
						</div>
					</div></div>
				</div>
			</div>
		</div>

	</div>

	<!-- TESTIMO! -->
	<div class="container">
		
		<div class="panel panel-default">
			<div class="panel-heading" ng-click="toggle('general')">
				<h3 class="panel-title">Series populares de {{apptitle}} <small>Recomendadas!</small><span class="pull-right glyphicon" ng-class="'glyphicon-resize-'+getClass('general')" ng-show="!loadingGeneral"></span><img class="pull-right spinnergif" src="img/spinner2.gif" ng-show="loadingGeneral"></img></h3>
			</div>
			<div class="panel-body" collapse="panels.general"><div class="panelwrap">
				<div class="col-xs-6 col-sm-3 col-md-2" ng-repeat="serie in generalFavs">
					<div class="thumbnail">						
						<a ng-click="loadSerie(serie.ids,serie.title)" class="btn btn-primary col-xs-12" role="button"><img ng-src="{{serie.img}}" alt="...">{{serie.title}}</a>
						<div class="clearfix"></div>
					</div>
				</div>
			</div></div>
		</div>
			
	</div>

</div>