<div class="search">
	<div class="container">
			<table class="datatable">
				<thead>
					<tr class="{{isEmpty()}}">
						<th>&nbsp;</th><th>Titulo</th><th>Género</th><th>Temporadas</th><th>Episodios</th><th>Año</th><th>Rating</th>
					</tr>
				</thead>
				<tfoot ng-show="empty">
					<tr><th colspan="7">No hay resultados</th></tr>					
				</tfoot>
				<tbody class="databody">
					<tr ng-repeat="result in results" ng-click="load(result.object.idm,result.object.name)">
						<td><img ng-src="{{result.object.poster.small}}"></img></td>
						<td>{{result.object.name}}</td>
						<td>{{result.object.maingenre}}</td>
						<td>{{result.object.seasons}}</td>
						<td>{{result.object.episodes}}</td>
						<td>{{result.object.year}}</td>
						<td>{{result.object.rating | number:2 }}</td>
					</tr>
				</tbody>
			</table>
			<div class="well">
				<div class="pagination">
					<span class="pagedisplay"></span> 
				</div>
				<ul class="pagination pull-right">
					<li class="first {{isEmpty()}}"><a>&laquo;</a></li>
					<li class="last {{isEmpty()}}"><a>&raquo;</a></li>
				</ul>
			</div>
	</div>
</div>