<div class="serie">
	<div class="container"><div class="well"><div class="row">
		<div class="col-sm-3 col-md-2"><img ng-src="{{data.poster.large}}"></img></div>
		<div class="col-sm-9 col-md-10">
			<h3>
				<a class="pull-right" title="Quitar de mis favoritos" ng-if="user.logged && favorite" ng-click="delFav()"><img src="img/favorite.png"></img></a>
				<a class="pull-right" title="Añadir a mis favoritos" ng-if="user.logged && !favorite" ng-click="addFav()"><img src="img/unfavorite.png"></img></a>
				{{data.name}}
			</h3>
			<div class="description">{{data.plot}}</div>
		</div>
	</div></div></div>
	<div class="container"><div class="navbar navbar-default">
		<div class="navbar-header"><a class="navbar-brand">Temporada</a></div>
		<div class="navbar-inner"><ul class="nav navbar-nav">
			<li ng-repeat="i in data.seasons_episodes" class="{{isActiveSeason($index)}}" ng-click="changeSeason($index)"><a ng-href="#season{{$index}}" data-toggle="tab">{{$index}}</a></li>
		</ul></div>
	</div></div>
	<div class="alert alert-warning" ng-show="false"><strong>Atención!</strong>&nbsp;Ya puedes configurar tu dirección XBMC para lanzar streaming directo en tu tv. Configuralo desde el menú mi cuenta, en la barra superior.</div>
	<div class="container"><div class="row">
		<div class="col-sm-6 col-md-6">
			<ul class="list-group tab-content episodes">
				<div class="tab-pane {{isActiveSeason($index)}}" id="season{{$index}}" ng-repeat="season in data.seasons_episodes" ng-init="s=$index">
					<li class="list-group-item {{isActiveEpisod(s,$index)}}" ng-repeat="ep in season" ng-click="changeEpisod(s,$index,ep.idm,$event)">{{ep.episode}}. {{ep.title}}<span class="pull-right glyphicon glyphicon-chevron-right"></span></li>
				</div>
			</ul>
		</div>
		<div class="col-sm-6 col-md-6">
			<div class="tabbable links">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#streaming" data-toggle="tab">Streaming</a></li>
					<li><a href="#download" data-toggle="tab">Download</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="streaming">
						<div class="row line">
							<div class="col-xs-4 col-sm-4">
								<select class="form-control" ng-class="{ active: idioma_s }" ng-model="idioma_s" ng-options="lang for lang in languages.s" ng-disabled="links.streaming.length==0">
									<option value="">Idioma</option>
								</select>
							</div>
							<div class="col-xs-4 col-sm-4">
								<select class="form-control" ng-class="{ active: host_s }" ng-model="host_s" ng-options="host for host in hosts.s" ng-disabled="links.streaming.length==0">
									<option value="">Servidor</option>
								</select>
							</div>
							<div class="col-xs-4 col-sm-4">
								<select class="form-control" ng-class="{ active: calidad_s }" ng-model="calidad_s" ng-options="quality for quality in qualities.s" ng-disabled="links.streaming.length==0">
									<option value="">Calidad</option>
								</select>
							</div>
						</div>

						<ul class="list-group">
							<li class="list-group-item {{animate}}" ng-repeat="link_s in links.streaming | filter:filterProp(idioma_s,'lang') | filter:filterProp(host_s,'host') | filter:filterProp(calidad_s,'quality') track by $index" ng-click="loadLink(link_s.video_url,$event)">
								<div class="row">
									<div class="col-xs-4 col-sm-4"><i class="icon-{{link_s.lang | lowercase}}">&nbsp;</i>{{link_s.lang}}</div><div class="col-xs-4 col-sm-4">{{link_s.host}}</div><div class="col-xs-4 col-sm-4"><i class="icon-{{link_s.quality | lowercase}}">&nbsp;</i>{{link_s.quality}} {{link_s.features}}</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="tab-pane" id="download">
						<div class="row line">
							<div class="col-xs-4 col-sm-4">
								<select class="form-control" ng-class="{ active: idioma_d }" ng-model="idioma_d" ng-options="lang for lang in languages.d" ng-disabled="links.direct_download.length==0">
									<option value="">Idioma</option>
								</select>
							</div>
							<div class="col-xs-4 col-sm-4">
								<select class="form-control" ng-class="{ active: host_d }" ng-model="host_d" ng-options="host for host in hosts.d" ng-disabled="links.direct_download.length==0">
									<option value="">Servidor</option>
								</select>
							</div>
							<div class="col-xs-4 col-sm-4">
								<select class="form-control" ng-class="{ active: calidad_d }" ng-model="calidad_d" ng-options="quality for quality in qualities.d" ng-disabled="links.direct_download.length==0">
									<option value="">Calidad</option>
								</select>
							</div>
						</div>
						<ul class="list-group">
							<li class="list-group-item {{animate}}" ng-repeat="link_d in links.direct_download | filter:filterProp(idioma_d,'lang') | filter:filterProp(host_d,'host') | filter:filterProp(calidad_d,'quality') track by $index" ng-click="loadLink(link_d.video_url,$event)">
								<div class="row">
									<div class="col-xs-4 col-sm-4"><i class="icon-{{link_d.lang | lowercase}}">&nbsp;</i>{{link_d.lang}}</div><div class="col-xs-4 col-sm-4">{{link_d.host}}</div><div class="col-xs-4 col-sm-4"><i class="icon-{{link_d.quality | lowercase}}">&nbsp;</i>{{link_d.quality}} {{link_d.features}}</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div></div>
</div>
