<div class="login">
	<div class="panel panel-info" >

		<div class="panel-heading">
			<div class="panel-title">
				<button type="button" class="close" ng-click="cancel()">&times;</button>
				Entrar
			</div>
			<!--<div class="right"><a>He olvidado mi password</a></div>-->
		</div>

		<div class="panel-body">

			<div ng-show="data.wrong" id="login-alert" class="alert alert-danger col-sm-12">Usuario o Password erróneos</div>
			<div ng-show="data.error" id="login-alert" class="alert alert-danger col-sm-12">Error</div>
				
			<form class="form-horizontal" role="form" ng-submit="login()" autocomplete="on" autofill-fix>

				<div class="input-group bottom">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" name="user" class="form-control" placeholder="Usuario" ng-model="data.user">
				</div>

				<div class="input-group bottom">
					<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
					<input type="password" name="password" class="form-control" placeholder="Password" ng-model="data.pass">
				</div>
				<!--
				<div class="input-group bottom"><div class="checkbox">
					<label><input id="login-remember" type="checkbox" name="remember" value="1">Recordarme</label>
				</div></div>
				-->
				<div class="form-group">
					<div class="col-sm-12 controls">
						<a class="btn btn-success" form-submit>Login</a>
						<a class="btn btn-primary" ng-click="cancel()">Cancelar</a>
						<button class="invis log" type="submit"></button>
					</div>
				</div>

				<div class="foot">Debes usar una cuenta válida de<a href="http://series.ly" target="_blank">Series.ly</a>para entrar</div>

			</form>
		</div>

	</div>
</div>