<div class="login">
	<div class="panel panel-info" >

		<div class="panel-heading">
			<div class="panel-title">
				<button type="button" class="close" ng-click="cancel()">&times;</button>
				Registro
			</div>
			<!--<div class="right"><a>He olvidado mi password</a></div>-->
		</div>

		<div class="panel-body">

			<div>Tienes código de invitación? Registrate aquí</div>

			<div ng-show="data.wrong" id="login-alert" class="alert alert-danger col-sm-12">Código incorrecto</div>
			<div ng-show="data.exists" id="login-alert" class="alert alert-danger col-sm-12">El usuario ya existe en Syngular</div>
			<div ng-show="data.error" id="login-alert" class="alert alert-danger col-sm-12">Error</div>
			
			<form class="form-horizontal" role="form" ng-submit="invitation()">

				<div class="input-group top bottom">
					<span class="input-group-addon"><i class="glyphicon glyphicon-barcode"></i></span>
					<input type="text" name="code" class="form-control" placeholder="Código" ng-model="data.code" required autocomplete="off">
				</div>

				<div class="input-group top bottom">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" name="user" class="form-control" placeholder="Usuario" ng-model="data.user" required autocomplete="off">
				</div>

				<div class="input-group top bottom">
					<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
					<input type="password" name="pass" class="form-control" placeholder="Password" ng-model="data.pass" required autocomplete="off">
				</div>

				<div class="form-group">
					<div class="col-sm-12 controls">
						<a ng-click="invitation()" class="btn btn-success">Registro</a>
						<a ng-click="cancel()" class="btn btn-primary">Cancelar</a>
						<button class="invis" type="submit"></button>
					</div>
				</div>

			</form>
				
		</div>

	</div>
</div>